argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
boto3==1.28.62
botocore==1.31.62
certifi==2025.1.31
cffi==1.17.1
Django==4.2.20
django-allauth==65.7.0
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
django-filter==25.1
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
gunicorn==20.1.0
jmespath==1.0.1
Markdown==3.8
minio==7.2.15
pillow==11.1.0
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2==2.9.10
pycparser==2.22
pycryptodome==3.22.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
rest-framework-simplejwt==0.0.2
s3transfer==0.7.0
setuptools==78.1.0
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.20
whitenoise==6.9.0
